.calculator {
  width: 300px;

  padding: 6px;
  text-align: center;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom:30px ;
  border: 2px solid #c0c0c0;
}

.display {
  height: 60px;
  width: 290px;
  border: 2px solid #c0c0c0;
  border-radius: 8px;
}
.condition, .result {
  height: 45%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.btn {
  width: 60px;
  height: 60px;
  border: 1px solid #c0c0c0;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  line-height: 60px;
  user-select: none;
  margin: 5px;
  font-size: 20px;
}

.btn:hover {
  background: grey;
}

.btn:active {
  background: black;
  color: white;
}

.convertor{
  display: flex;
  align-items: center;
  justify-content: center;
}
.convetorIn__input{
  width: 161px;
  height: 16px ;
  border: 2px solid red;


}
.convetorIn__input p{
  margin: 0;
}
.convetorIn{
  display: flex;
  flex-direction: row;
}